.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }
  body{
    background-color: #F8F9FC;
  }
nav ul li
{
    list-style: none;
}
nav ul li a {
    text-decoration: none;
    font-size: 18px;
}

    nav{
   display:flex;
   align-items: center;
   justify-content: space-between;
   margin: 0px 200px;
   gap:5px;
   

 }
 .nav-titel
 {
     font-size: 32px;
     font-weight: bold;
     width: 100%;
 }
 

 
 .btn-primary1
 {
    width: 180px;
    height: 37px;
    background-color:  #006A50;
    color:white;
    border-radius: 5px;
    border: 0;
    border-color: none;
    
 }
 
 .btn-primary
 {
    width: 77px;
    height: 34px;
    border: 2px solid #006A50;
    color: #006A50 ;
    border-radius: 5px;
    position: absolute;
    top: 35px;  
    
}
 
 .banner-semi-titel{
 color:rgba(14, 14, 14, 0.5);
 font-size: 16px;
 font-weight: medium;
 }
 
 .banner-main-titel
 {
    font-size: 37px;
    font-weight: bold;
    color: #0E0E0E;
 }
 .banner2{
    width: 40%;
   margin-top: 25px;
    

}
img{
    width: 317px;
    height: 268px;
}

.banner
{
    display:flex;
    justify-content:space-around;
    margin: 0px 200px;
    background-color: #C6E4D6;
    width: 857px;
    height:375px;
    padding: 50px;
    gap: 20px;
    text-align: left;
    border-radius: 16px;
}
.banner1{
    width: 60%;
}
/* 2nd page */

.second-page-titel{
    font-size:26px ;
    font-weight: bold;
    margin: 30px 200px;

}
.image2
{
    width: 42px;
    height: 42px;
}
.second-page-containor-title
{
    font-size: 13px;
    font-weight: bold;
}
.second-page-containor-para
{
    font-size: 10px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: regular;
}
.second-page-containor{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    gap: 40px;
    padding: 15px;
    border-radius: 10px;
    width:75%;
    
    
}
.second-page-containor-items{
    background-color:#FFFFFF;
    border-radius: 10px;
    
    padding: 16px;
    width: 202px;
    height: 163px;
    gap: 20px;
}
/* third page */
.third-page-titel
{
    font-size: 26px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 30px 200px;
    
   
}
.third-page-para
{
    font-size: 10px;
    color: rgba(14, 14, 14, 0.7);
    font-weight: regular;
    margin:0px 200px;
}
.third-page-items-inside-titel
{
    font-size: 13px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.para
{
    font-size:10px ;
    color: rgba(14, 14, 14, 0.7);
    font-weight: regular;
}
.btn-primary0
{
    width: 81px;
    height:27px;
    font-size: 10px;
    font-weight:700px;
    border-radius: 5px;
    border: none;
    color: c;
      
}
.color-1
{
    background-color: #5490F5;
}
.color-2
{
    background-color: #09A15C;
}
.color-3
{
    background-color: #FFC239;
}
.color-background1
{
    background-color: rgba(84, 144, 245, 0.2);
    padding: 15px;
    border-radius: 10px;
}
.color-background2
{
    background-color: rgba(9, 161, 92, 1);
    padding: 15px;
    border-radius: 10px;

}
.color-background3
{
    background-color: rgba(255, 194, 57, 0.28);
    padding: 15px;
    border-radius: 10px;
}
.third-last-para
{
    font-size: 10px;
    color: rgba(14, 14, 14, 0.8);
    font-weight: regular;
    margin-top: 20px;
}
.third-last-titel{
    font-size: 13px;
    font-weight: 700px;
    color: rgba(14, 14, 14, 0.8);
}
.third-last-anpara
{
    font-size: 10px;
    color: rgba(14, 14, 14, 0.6);
    font-weight: regular;
    margin-top: 5px;
}
.third-page-items
{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    gap: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: #F8F9FC;
    width: 75%;
}
.third-last
{

  margin: 30px 200px;
  gap: 20px;
  background-image: url("../assets/quote-bg.png");
  background-repeat: no-repeat;
  background-color: #FFFFFF;
  width: 75%;
border-radius: 10px;
  border: 2px solid rgba(14, 14, 14, 0.3);
 padding: 15px;
}
/* forth page */
table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    
}
th {
    background-color: #cce0d0;
    text-align: left;
    padding: 15px;
}
td {
    padding: 15px;
    border: 1px solid #ddd;
}
select {
    padding: 5px;
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    cursor: pointer;
}
.forth-page-title
{
    font-size: 26px;
    font-weight: bold;
    color: #0E0E0E;
    margin: 30px 200px;
}
.forth-page-containor
{
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    gap: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    width: 75%;
}
.forth-page-inside-containor
{
padding: 15px;
display: inline-block;
    text-align:center;
    margin: 0 auto;
}
.forth-page{
    padding-top: 15px;
}
/* fifth page */
.fifth-page-title
{
    font-size:26px ;
    font-weight:bold ;
    color: #0E0E0E;
}
.fifth-page-para
{
    font-size:10px ;
    font-weight:400px;
    color: rgba(14, 14, 14, 0.7);
}
.fifth-page-containure-part2-titel
{
    font-size:21px ;
    font-weight:bold;
    color: rgba(14, 14, 14, 0.8);
}
.myimage
{
    width: 89px;
    height: 26px;
}
.fifth-page-containure-part2-date{
    font-size:10px ;
    font-weight:400px;
    color: rgba(14, 14, 14, 0.7);
}
.fifth-page-containure-part2-para
{
    font-size:10px ;
    font-weight:400px;
    color: rgba(14, 14, 14, 0.7);
}
.fifth-page-btn
{
    width: 81px;
    height:27px;
    font-size: 12px;
    font-weight:600px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 10px;
}
.fifth-page-image{
    width: 273px;
    height: 205px;
    border-radius: 16px;
}
.fifth-page
{
    margin: 30px 200px;
    gap: 20px;
    width: 75%;
    border-radius: 10px;
    padding: 15px;
}
.fifth-page-containure-items
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    padding: 15px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 20px;
    box-shadow:3px 3px 3px 3px rgba(0, 0, 0, 0.1);
    
}
/* sixth page */
.sixth-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
    margin: 30px 200px;
    gap: 20px;
    width: 75%;
    border-radius: 10px;
    padding: 15px;
    
    text-align: center;
    
}
.sixth-page-title
{
    font-size:26px ;
    font-weight:bold ;
    color: #0E0E0E;
    padding-top: 5px;
}
.sixth-page-para
{
    font-size:10px ;
    font-weight:400px;
    color: rgba(14, 14, 14, 0.7);
}
.sixth-page-cotainur
{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 10px;
    text-align: center;
    
    
}
.sixth-page-cotainur2
{
    margin-top: 10px;
    background-color: #FFFFFF;
    padding:15px;
}
.sixth-page-btn
{
    margin-top: 10px;
    
}
.sixth-page-cotainur-items{
    padding: 26px 26px;
            border: 1px solid rgba(14, 14, 14, 0.08);
            border-radius: 8px;
            cursor: pointer;
            font-size: 18px;
            background: white;
            transition: 0.3s;

    font-size:26px ;
    font-weight: bold;

}
.color-infinity{
    background-color: #C6E4D6;
}
.sixth-page-cotainur2
{
    
padding: 26px 13px;
color: rgba(14, 14, 14, 0.3);
    font-size:13px ;
    font-weight:500px;
}
.sixth-page-btn
{
    width: 90px;
    height: 37px;
    font-size: 12px;
    font-weight: semibold;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 11px 11px;
}

/* seventh page */

.seventh-page
{
    margin: 30px 200px;
    gap: 20px;
    width: 75%;
    border-radius: 16px;
    padding: 15px;
    background-color: #C6E4D6;
}
.seventh-page-inner1
{
    display: flex;
    justify-content: center;
    padding: 20px;
    
}
.seventh-page-inner
{
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}
.seventh-page-title
{
font-size: 26px;
font-weight: bold;
}

.seventh-page-para
{
    font-size: 12px;
    font-weight: 400;
    color: rgba(14, 14, 14, 0.7);
}
.seventh-page-btn
{
    width: 100px;
    height: 33px;
    font-size: 12px;
    font-weight: semibold;
    border-radius: 0 5px 5px 0;
    border: none;
    color: #FFFFFF;
    background-color: #006A50;
    padding: 9px 9px;
}
input{

    padding: 9px 9px;
    background-color:#FFFFFF;
    border: 1px solid #c3e6cb;
    border-radius:5px 0 0 5px ;
    cursor: pointer;
    width: 75%;
}
.seventh-page-search-one{

    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
/* footer page */
.footer-titel
{
    font-size: 21px;
    font-weight: bold;
    color: #0E0E0E;
}

.horaizentaline
{
    
   color: rgba(14, 14, 14, 0.1);
   width: 75%;
   margin: 50px 200px;
}
footer
{
    background-color: #FFFFFF;
    
    text-align: center;
}
.image-footer
{
    width: 16px;
    height: 16px;
}

.footer-containor-items
{
   gap:10px
}
.footer-top
{
    padding:20px;
    
}